@import "susy";
// susy default settings

$total-cols: 12;
$susy: (
  gutter-position: inside-static,
  container: 100%,
  columns: $total-cols,
  column-width: 32px,
  gutter: 4px,
  global-box-sizing: content-box,
);

@import "breakpoint";
@import "project/variables";
@import "project/mixins/clearfix";
@import "project/mixins/normalize";
@import "project/layout";


	
	




	
	

